#!/bin/bash

set -e

sudo dpkg -s curl &>/dev/null || sudo apt install curl -y

mkdir -p ~/.local/bin
cd ~/.local/bin
curl https://mise.run | sh
cd -

mkdir -p ~/.config/mise
cp ./wee-template.toml ~/.config/mise/

if ! grep -q "# wee-mise-activation" ~/.bashrc; then
	echo '[ -f ~/.local/bin/mise ] && eval "$(~/.local/bin/mise activate bash)" # wee-mise-activation' >> ~/.bashrc
fi

gbl_gitignorefile=$(git config --get core.excludesfile)
if ! grep -q ".mise.toml" $gbl_gitignorefile; then
	echo ".mise.toml" >> $gbl_gitignorefile
	echo ".misein.sh" >> $gbl_gitignorefile
	echo ".miseout.sh" >> $gbl_gitignorefile
fi
